{%extends "base.html"%}

{%block title%}
    Blur Youtube Videos
{%endblock%}

{%block content%}
<div class="page-header text-center">
    <h1>Blur faces in any youtube video!</h1>
</div>
<form action="#", method="POST">
    <div class="form-group text-center">
        <input type="text" class="form-control" name="urlSub"id="searchQuery" placeholder="Search for videos here!">
        <input type="submit" value="submit" onclick=loading() />
    </div>
</form>
<div class="loading" id="loadingId">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <p></p>
    </div>
</div>

<div class="content d-flex justify-content-center" id="contentId">
    <div>
        <p>CONTENT HERE</p>
    </div>
    
</div>

<style>
    #contentId div{
        display: none;
    }
    #loadingId {
        display: none;
    }
    
</style>
<!-- <p>{{testStr}}</p> -->



{%endblock%}