{%extends "base.html"%}

{%block title%}
    Blur Youtube Videos
{%endblock%}

{%block content%}
<div class="page-header text-center">
    <h1>Blur faces in any youtube video!</h1>
</div>
<form action ="#",method="POST">
    <div class="form-group text-center">
        <!-- <label for="exampleFormControlInput1">Email address</label> -->
        <input type="text" class="form-control" name="urlSubmission"id="searchQuery" placeholder="Search for videos here!">
        <input type="submit" value="submit" onclick=loading() />
    </div>    
</form>
{%if loading%}
<p>true</p>
{%else%}
<p>false</p>
{%endif%}
{%if loading%}
<div class="loading" id="loadingId">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- <div class="content" id="contentId">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div> -->
{%endif%}

{%endblock%}